* {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  background: #DEE3E7;
}
body #connexion {
  padding: 15px 0;
  width: 50%;
  margin: 0 auto;
  background: #2D3E50;
}
body #connexion h1 {
  color: #ffffff;
  text-align: center;
}
body #connexion form {
  width: 40%;
  margin: 0 auto;
}
body #connexion form div.mandatory {
  color: #85a9bd;
  font-size: 12px;
  text-align: right;
}
body #connexion form .component {
  margin: 10px 0 0;
}
body #connexion form .component label {
  color: #ffffff;
}
body #connexion form .component input[type="text"],
body #connexion form .component input[type="password"] {
  height: 30px;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 auto;
}
