*{margin:0;padding:0;font-size:12px;font-family: Arial, sans-serif;}
html, body{width:100%;height:100%;overflow:hidden;}
a{text-decoration: none;font-size:13px;color:#3333ee;}
a:hover{text-decoration: underline;}
.content, footer, .path{width:960px;margin:0 auto;}
.path{margin:10px auto;border:#efefef solid 1px;padding:10px 5px 10px 35px;width:920px;font-size:13px;background:url(imgs/puce.png) no-repeat 10px center;}
.path.loading{background:url(imgs/loading.gif) no-repeat 2px center;}
.content{border:#eee solid 1px;}
.content .folder{position:relative;height:600px;overflow:hidden;}
.content .folder, .content .folder table{width:100%;}
.content .folder table .ico_file{width:30px;background:url(imgs/file.png) no-repeat left center;}
.content .folder table .ico_folder{width:30px;background:url(imgs/folder_blue.png) no-repeat left center;}
.content .folder table tr{height:30px;}
.content .folder table tr td{border-top: solid 1px #f0f0f0;}
.content .folder table tr th{font-weight: bold;color:#444444;text-align: left;}
.content .folder table{position:absolute;-webkit-transition:margin-left .5s ease-out;margin-left:0;}
.content .folder table.incoming{margin-left:960px;}
.content .folder table.leaving{margin-left:-960px;}