<!DOCTYPE html>
<html>
	<head>
		<title>JS Templating</title>
		<script src="../../M4/src/M4.js"></script>
		<script src="../src/Template.js"></script>
		<script>
			function init()
			{
				var d = new Date();
				var t = new Template("tpl_1");
				t.assign("table", [
					{value1:12, value2:0},
					{value1:23, value2:1},
					{value1:"aze", value2:24}
				]);
				t.setFunction("add", function(pVar1, pVar2)
				{
					console.log(pVar1+" "+pVar2);
					return pVar1+pVar2;
				});
				t.render("#placeholder");
			}
		</script>
	</head>
	<body onload="init()">
		<div id="placeholder">

		</div>
		<script type="html/template" template-id="tpl_1">
			<h3>Tableau foreach</h3>
			<ul>
				{foreach $table $item $key}
				<li>
					{$item.value1}+{$item.value2}={=add($item.value1, $item.value2)}
				</li>
				{/foreach}
			</ul>
		</script>
	</body>
</html>