.diaporama{width:601px;height:298px;}
.diaporama .viewer{width:448px;height:298px;margin-right:1px;}
.diaporama .controls{width:152px;height:298px;}
.diaporama .controls li{height:98px;margin-bottom:1px;}